[submodule "thirdparty/plume"]
	path = thirdparty/plume
	url = https://github.com/renderbag/plume
[submodule "thirdparty/XenosRecomp"]
	path = thirdparty/XenosRecomp
	url = https://github.com/goliathret/reeot-XenosRecomp.git
	branch = reeot
[submodule "thirdparty/zstd"]
	path = thirdparty/zstd
	url = https://github.com/facebook/zstd
